:local {
  .results {
    @apply flex flex-col items-center justify-center;
    @apply relative text-left py-16 min-h-screen bg-secondary;

    &::before {
      content: '';
      @apply w-full h-full;
      @apply absolute top-0 left-0 z-0;
      @apply opacity-50 bg-custom-white;
    }
  }

  .resultItem {
    font-size: rfs(3.6rem);
    @apply pb-5 text-custom-gray leading-snug;

    @screen md {
      @apply text-3-6;
    }

    &:not(:last-child) {
      @apply mb-10 border-b border-solid border-custom-gray text-custom-gray;
    }
  }

  .container {
    width: 90vw;
    @apply block mx-auto relative z-10;
  }
}
