:local {
  .scene {
    @apply h-screen overflow-hidden relative;
  }

  .form {
    @apply flex justify-center items-center flex-col;
    // Keep opacity as 0 for better wave effect
    @apply w-screen h-full relative z-10 bg-secondary opacity-0;
  }

  .input {
    @apply w-9/10 max-w-screen-md;
    @apply border-b border-white border-solid;
    @apply bg-transparent text-white text-3-6 leading-none;
    @apply opacity-60 transition-opacity duration-200 ease-in-out;

    &::placeholder {
      font: inherit;
      color: inherit;
      @apply opacity-60;
    }

    &:focus,
    &:hover {
      @apply opacity-100 outline-none;
    }
  }

  .effect {
    size: 7rem;
    @apply absolute top-0 right-0 z-0 mt-8 mr-8;
    @apply bg-secondary rounded-full pointer-events-none;
  }
}
