:local {
  .toggler {
    size: 7rem;
    border-radius: 50%;
    z-index: 20;
    -short-position: fixed 2rem 2rem _ _;
    background: #8ec4e9;
    @apply flex items-center justify-center;
  }

  .icon {
    color: #fff;
    font-size: 4rem;
  }
}
