:global {
  @keyframes rotate {
    from {
      @apply rotate-0;
    }

    to {
      @apply rotate-360;
    }
  }
}

:local {
  .scene {
    @apply min-h-screen text-white bg-primary;
    @apply flex items-center justify-center flex-col;
  }

  .text {
    width: 80vw;
    @apply self-center text-left text-3-6;
    @apply relative z-10 pointer-events-none select-none;
  }

  .icon {
    animation: rotate 1s linear infinite paused;
    @apply text-giant text-primary-dark absolute inset-0 m-auto;
    @apply opacity-60 transition-opacity duration-200 ease-out;

    &:hover {
      @apply opacity-100;
    }
  }

  .iconAnimation {
    animation-play-state: running;
  }

  .waves {
    @apply w-full pointer-events-none text-custom-white;
    @apply absolute bottom-0 left-0 z-20;
  }
}
